<section class="container ">
  <div class="col-md-12 text-center" style="top: 40px;">

    <h1 class= " font-weight-bold text-white text-uppercase font-italic Italica comidas" >bebidas</h1>
    <img class="img-fluid" style= "margin-top: 20px;" src="<%= asset_path 'cartabebida.PNG' %>" >
  </div>

  <div class="col-md-12 text-center">

    <h1 class= " font-weight-bold text-white text-uppercase font-italic Italica comidas" >para compartir</h1>
    <img class="img-fluid"  style= "margin-top: 20px; margin-bottom: 30px;" src="<%= asset_path 'carta.PNG' %>" >
  </div>


</section>
