<section class="comer">
  <div class="col-md-3 izquierda text-center">

    <h1 class= " font-weight-bold text-white text-uppercase font-italic Italica" >Comer</h1>
    <%= link_to (image_tag 'Dedo.png', style:"width:50px") %>
  </div>

  <div class="col-md-3 text-center derecha ">

    <h1 class= " font-weight-bold text-white text-uppercase font-italic Italica" >beber</h1>
    <%= link_to (image_tag 'Dedo.png', style:"width:50px") %>
  </div>
</section>
