
<section class="salon ">
  <div class="container centro  ">
    <div class="row ">
      <% @spaces.each do |space| %>
      <div class="col text-center">
        <div class="col-md-8 text-center ">

          <h1 class= " font-weight-bold text-white" ><%= space.name %></h1>
          <%= link_to (image_tag 'Dedo.png', style:"width:50px"),  new_reservation_path(space.slug.parameterize) %>
        </div>
      </div>

      <% end %>

      <div class="w-100" style="margin-top:10px"> </div>
    </div>
  </div>
</section>
