
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row ">
          <div class="col-lg-7 mx-auto">

            <ul class="timeline">

              <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <h2 class="h5 mb-0"><i class="fas fa-download"></i>Comprobante</h2>
                <button type="button" class="btn btn-primary"><a class="text-white" href="http://localhost:3000/reservations.pdf" target="_blank" action="http://www.google.com/search">Descargar</a></button>

              </li>
              <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                <div class="timeline-arrow"></div>
                <h2 class="h5 mb-0"><i class="fas fa-sign-out-alt"></i>Finalizar</h2>
                <button type="button" class="btn btn-secondary"><a class="text-white" href="<%= home_index_path %>">Finalizar</a></button>

              </li>

            </ul>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>
