<h2 class="text-center text-white"style="margin-top: 90px;">EDITAR RESERVA</h2>

<%= render 'form', reservation: @reservation %>

<%# <%= link_to 'Show', @reservation %> |
<%# <%= link_to 'Back', reservations_path %> %> %>
