<h2 class="text-white text-center text-uppercase" style="margin-top: 80px;">Actualizar datos de la mesa</h2>

<%= render 'form', table: @table %>

<%= link_to 'Show', @table %> |
<%= link_to 'Back', tables_path %>
