
<% if alert.present? %>
<div class="alert alert-danger" style="top: 80px;" role="alert">
  <%= alert %>
</div>
<%end %>

<% if notice.present? %>
<div class="alert alert-success" style="top: 80px;"  role="alert">
  <%= notice %>
</div>
<%end %>
